@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Global Styling */

:root {
    --battleship-grey: #878E8D;
    --raisin-black: #2E282A;
    --white: #fff;
    --logo-font: 'Rubik', sans-serif;
    --main-font: 'Roboto Slab', serif;
}

html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header {
    border: 2px solid var(--raisin-black);
}

body {
    background: url('/media/hero-image.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--raisin-black);
    font-family: var(--main-font);
    font-size: 1.6rem;
    letter-spacing: 1px;
}
 /* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    border: 2px solid var(--raisin-black);
}

#div_id_subscriber > label {
    display: none;
}

#id_subscriber {
    width: 30rem;
}

/* General Elements */

.container-margin {
    margin: 170px 0 0 20px;
}

.bg-grey {
    background-color: var(--battleship-grey);
}

.bg-black {
    background-color: var(--raisin-black);
}

.bg-transparent-grey {
    background-color: rgba(135, 142, 141, 0.5)
}

.btn-black {
    background: var(--raisin-black);
    color: var(--white);
}

.btn-white {
    background: var(--white);
    color: var(--raisin-black);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--raisin-black);
    color: var(--white);
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: var(--white);
}

.border-black {
    border: 1px solid var(--raisin-black) !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.rounded-10 {
    border-radius: 1rem;
}

.img-border {
    border: 1px solid var(--raisin-black);
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 135px;
    right: 5px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
    font-size: 1.2rem;
}

.toast-capper {
    height: 5px;
}

.toast-border {
    border-bottom: 1px solid var(--white);
    border-top: 1px solid var(--white);
    padding: 5px 0;
}

.cart-notification-wrapper {
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid var(--raisin-black);
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* NavBar */

.logo {
    font-family: var(--logo-font);
    letter-spacing: 0.3rem;
    font-size: 3rem;
    -webkit-text-stroke: 1.5px var(--raisin-black);
}

.main-logo-link {
    width: fit-content;
}

.navbar-toggler {
    background-color: #fff;
}

.navbar-toggler:focus {
    outline: 5px auto var(--battleship-grey);
}

.nav-link:hover {
    color: var(--raisin-black) !important;
}

.nav-link:hover > h2 {
    color: var(--raisin-black) !important;
    -webkit-text-stroke: 1px var(--white);
}


.dropdown-item:hover {
    background-color: var(--raisin-black) !important;
    color: var(--white);
}

.dropdown-menu > a {
    font-size: 1.4rem;
    color: var(--white);
}

.nav-link > div:hover {
    color: var(--raisin-black) !important;
}

/* Home */

.welcome-message {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 5rem;
}

.shop-now-button {
    background: var(--raisin-black);
    color: var(--white);
    min-width: 18rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 300;
}

/* Products */

.products-container {
    padding-bottom: 10rem;
}

.category {
    font-size: 4rem;
}

.product-img-container {
    margin: 0 !important;
    height: 30rem;
    width: 100%;
    overflow: hidden;
}

.product-img {
    height: 20rem;
    max-width: 100%;
}

.card {
    width: 40rem;
    margin: 0.5rem 0.5rem;
    padding: 0;
    border: 2px solid var(--raisin-black);
}

.card-body {
    margin: 0;
    width: 100%;
    border-top: 2px solid var(--raisin-black);
}

.card-body > a:hover {
    text-decoration: none;
}

.card-body > a > h3:hover {
    color: var(--raisin-black);
}

.product-row {
    margin-bottom: 1rem;
}

/* Product Detail */

.product-detail-card {
    max-width: 40rem;
}

.product-detail-row {
    gap: 2rem;
}

.product-detail-btn {
    font-weight: bold;
    font-size: 1.2rem;
    width: 15rem;
}

.product-detail-btn-col {
    margin: 0;
    gap: 1rem;
}

.quantity-col {
    max-width: 31.7rem;
    margin: 0 auto;
}

.product-form-label {
    text-align: left !important;
    font-size: 2rem;
}

#id_rating {
    list-style-type: none;
    display: flex;
    gap: 2px;
    padding: 0;
    margin: 0;
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating-container input {
    display: none;
}

.rating-container label {
    font-size: 1,6rem;
    color: var(--white);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.rating-container input:checked ~ label {
    color: var(--battleship-grey);
}

.rating-container label:hover,
.rating-container label:hover ~ label {
    color: var(--battleship-grey);
}



/* Cart */
.cart-container {
    max-width: 90vw;
}

.cart-heading {
    font-size: 3rem;
}

.cart-product-card,
.cart-product-block {
    width: 15rem;
}

.cart-product-img {
    height: 15rem;
}

.product-img-cart {
    height: 10rem;
    max-width: 80%;
}

.cart-product-name {
    font-size: 1.2rem;
}

.cart-table-row {
    font-weight: 800;
}

.qty_input {
    max-width: 6rem;
}

.qty-form-row {
    gap: 1rem;
}

.table td {
    vertical-align: middle !important;
}

.qty-form-input {
    height: 2.5rem;
}

.cart-qty-input {
    height: 2.5rem;
    font-size: 1.2rem;
}

/* Sign Up Form */

.signup > div {
    max-width: 35rem;
    text-align: left;
}

.signup {
    width: 35rem;
}

.form-container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 15px;
}

.form-control {
    font-size: 1.6rem !important;
}

/* Sign In Form */

.login {
    width: 35rem;
}

.login > div {
    max-width: 35rem;
    text-align: left;
}

/* Logout Form */

.gap-1 {
    gap: 1rem;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 14rem;
    }
}

@media (max-width: 992px) {
    .products-container {
        margin-top: 10rem;
    }

    .cart-row {
        margin-top: 10rem;
    }

    .mobile-top-margin {
        margin-top: 11rem;
    }

    .margin-10 {
        margin-top: 10rem;
    }

    .message-container {
        position: fixed;
        top: 100px;
        right: 5px;
        z-index: 999999999;
    }
}

@media (max-width: 768px) {
    .card {
        width: 35rem;
    }

    .cart-product-card {
        width: 20rem;
    }

    .product-detail-row {
        flex-direction: column !important;
    }

    .cart-total-col h2 {
        font-size: 1.6rem;
    }

    .cart-total-col h1 {
        font-size: 1.8rem;
    }

    .cart-heading {
        font-size: 2.4rem;
    }

    .product-form-label {
        margin-left: 1rem;
    }
}

@media (max-width: 1105px) {
    .logo {
        font-size: 2.5rem;
    }
}

@media (max-width: 576px) {
    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    .card {
        width: 25rem;
    }

    .form {
        width: 25rem;
    }

    nav {
        font-size: 1rem;
    }

    .signup,
    .login {
        width: 30rem;
    }

    .dropdown-menu > a {
        font-size: 1rem;
    }

    .delivery-banner {
        font-size: 1.2rem;
    }

    .category {
        font-size: 3rem;
    }

    .quantity-col {
        margin-left: 6.5rem;
    }
}