@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Global Styling */

:root {
    --battleship-grey: #878E8D;
    --raisin-black: #2E282A;
    --white: #fff;
    --logo-font: 'Rubik', sans-serif;
    --main-font: 'Roboto Slab', serif;
}

html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: url('/media/hero-image.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--raisin-black);
    font-family: --var(--main-font);
    font-size: 1.6rem;
}

.logo {
    font-family: var(--logo-font);
    letter-spacing: 0.3rem;
    font-size: 3rem;
}

.bg-grey {
    background-color: var(--battleship-grey);
}

.bg-black {
    background-color: var(--raisin-black);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: var(--raisin-black);
    color: var(--white);
    min-width: 260px;
}

.btn-black {
    background: var(--raisin-black);
    color: var(--white);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--raisin-black);
    color: var(--white);
}

.nav-link:hover {
    color: var(--raisin-black) !important;
}

.dropdown-item:hover {
    background-color: var(--raisin-black) !important;
    color: var(--white);
}

.dropdown-menu > a {
    font-size: 1.4rem;
    color: var(--white);
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: var(--white);
}

.border-black {
    border: 1px solid black !important;
}

.product-img-container {
    margin: 0 !important;
    height: 30rem;
    width: 100%;
    overflow: hidden;
}

.product-img {
    height: 20rem;
    max-width: 100%;
}

.card {
    width: 40rem;
    margin: 0.5rem 0.5rem;
    padding: 0;
}

.card-body {
    margin: 0;
    width: 100%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 14rem;
    }
}

@media (max-width: 992px) {
    .products-container {
        margin-top: 10rem;
    }
}

@media (max-width: 768px) {
    .card {
        width: 30rem;
    }
}

@media (max-width: 576px) {
    .card {
        width: 35rem;
    }
}