<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="" class="logo-font text-white font-weight-bold nav-link mr-5" id='pc-systems-link' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PC Systems
            </a>
            <div class="dropdown-menu border-0 bg-grey" aria-labelledby="pc-systems-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">AMD</a>
                <a href="" class="dropdown-item">Intel</a>
                <a href="" class="dropdown-item">All PC Systems</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font text-white font-weight-bold nav-link mr-5" id='laptops-link' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Laptops
            </a>
            <div class="dropdown-menu border-0 bg-grey" aria-labelledby="laptops-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">AMD</a>
                <a href="" class="dropdown-item">Intel</a>
                <a href="" class="dropdown-item">All Laptops</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link mr-5 text-white" id='pc-components-link' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PC Components
            </a>
            <div class="dropdown-menu border-0 bg-grey" aria-labelledby="pc-components-link">
                <a href="" class="dropdown-item">Processors</a>
                <a href="" class="dropdown-item">Motherboards</a>
                <a href="" class="dropdown-item">GPUs</a>
                <a href="" class="dropdown-item">Memory</a>
                <a href="" class="dropdown-item">Storage</a>
                <a href="" class="dropdown-item">Power Supplies</a>
                <a href="" class="dropdown-item">Cooling</a>
                <a href="" class="dropdown-item">All PC Components</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link mr-5 text-white" id='peripherals-link' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Peripherals
            </a>
            <div class="dropdown-menu border-0 bg-grey" aria-labelledby="peripherals-link">
                <a href="" class="dropdown-item">Mice</a>
                <a href="" class="dropdown-item">Keyboards</a>
                <a href="" class="dropdown-item">Mousemats</a>
                <a href="" class="dropdown-item">Headsets</a>
                <a href="" class="dropdown-item">All Peripherals</a>
            </div>
        </li>
    </ul>
</div>