<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'products' %}" class="logo-font text-white font-weight-bold nav-link mr-5" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font text-white font-weight-bold nav-link mr-5" id='pc-systems-link' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PC Systems
            </a>
            <div class="dropdown-menu border-0 bg-grey" aria-labelledby="pc-systems-link">
                <a href="{% url 'products' %}?category=pc-systems&sub_category=AMD" class="dropdown-item">AMD</a>
                <a href="{% url 'products' %}?category=pc-systems&sub_category=intel" class="dropdown-item">Intel</a>
                <a href="{% url 'products' %}?category=pc-systems" class="dropdown-item">All PC Systems</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font text-white font-weight-bold nav-link mr-5" id='laptops-link' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Laptops
            </a>
            <div class="dropdown-menu border-0 bg-grey" aria-labelledby="laptops-link">
                <a href="{% url 'products' %}?category=laptops&sub_category=AMD" class="dropdown-item">AMD</a>
                <a href="{% url 'products' %}?category=laptops&sub_category=intel" class="dropdown-item">Intel</a>
                <a href="{% url 'products' %}?category=laptops" class="dropdown-item">All Laptops</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link mr-5 text-white" id='pc-components-link' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PC Components
            </a>
            <div class="dropdown-menu border-0 bg-grey" aria-labelledby="pc-components-link">
                <a href="{% url 'products' %}?category=pc-components&sub_category=processor" class="dropdown-item">Processors</a>
                <a href="{% url 'products' %}?category=pc-components&sub_category=motherboard" class="dropdown-item">Motherboards</a>
                <a href="{% url 'products' %}?category=pc-components&sub_category=GPU" class="dropdown-item">GPUs</a>
                <a href="{% url 'products' %}?category=pc-components&sub_category=RAM" class="dropdown-item">Memory</a>
                <a href="{% url 'products' %}?category=pc-components&sub_category=storage" class="dropdown-item">Storage</a>
                <a href="{% url 'products' %}?category=pc-components&sub_category=PSU" class="dropdown-item">Power Supplies</a>
                <a href="{% url 'products' %}?category=pc-components&sub_category=cooler" class="dropdown-item">Cooling</a>
                <a href="{% url 'products' %}?category=pc-components" class="dropdown-item">All PC Components</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link mr-5 text-white" id='peripherals-link' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Peripherals
            </a>
            <div class="dropdown-menu border-0 bg-grey" aria-labelledby="peripherals-link">
                <a href="{% url 'products' %}?category=peripherals&sub_category=mouse" class="dropdown-item">Mice</a>
                <a href="{% url 'products' %}?category=peripherals&sub_category=keyboard" class="dropdown-item">Keyboards</a>
                <a href="{% url 'products' %}?category=peripherals&sub_category=mousemat" class="dropdown-item">Mousemats</a>
                <a href="{% url 'products' %}?category=peripherals&sub_category=headset" class="dropdown-item">Headsets</a>
                <a href="{% url 'products' %}?category=peripherals" class="dropdown-item">All Peripherals</a>
            </div>
        </li>
    </ul>
</div>