{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container products-container">
    {% for category in categories %}
        <h2 class="text-center">{{ category.friendly_name }}</h2>
        <div class="row justify-content-center">
            {% for product in products %}
                {% if product.category == category %}
                    <div class="card col-lg-3 col-md-5 col-sm-8 col-xs-12">
                        <div class="row justify-content-center align-content-center product-img-container">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="product-img object-fit-scale" src="{{ product.image_url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="product-img object-fit-scale" src="https://gamer-station.s3.eu-north-1.amazonaws.com/media/noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}   
                        </div>                        
                        <div class="card-body bg-grey text-white">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">£{{ product.price }}</p>
                            <p class="card-text"><i class="fas fa-star"></i> {{ product.average_rating|default_if_none:"No ratings yet" }}</p>
                            <p class="card-text">Reviews: {{ product.review_count }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}